html {
    font-family: 'Odibee Sans', cursive;
    text-align: center;
    font-size: larger;
}
*, *::before, *::after {
    box-sizing: border-box;
  }

  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }
  
  .btn:hover {
    border-color: black;
  }
  
  .btn.correct {
    color: green;
  }
  
  .btn.wrong {
    color: red;
  }
  
  .start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }
